# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/Debug/
/Release/

# Others
.cproject
.project
.settings
.DS_Store
/.DS_Store


# Project debug files
trace



.cproject

.DS_Store

*.launch

.settings/language.settings.xml

.project

.DS_Store

rom/.DS_Store
